<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Ensure the device has a camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADApp"
        tools:targetApi="31">

        <!-- Main Launcher Activity -->
        <activity
            android:name=".Landingpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".firstpage"
            android:exported="false" />
        <activity
            android:name=".AllGroupsRatingActivity"
            android:exported="false" />
        <activity
            android:name=".ratingpage"
            android:exported="true" /> <!-- Set exported to true if accessed externally -->
        <activity
            android:name=".scannerpage"
            android:exported="true"
            android:screenOrientation="portrait" /> <!-- Portrait mode for scanning -->

        <!-- Google API Metadata -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="YOUR_ADMOB_APP_ID" />

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.API_KEY"
            android:value="YOUR_API_KEY" />

    </application>
</manifest>
